:global(.dark){
	.data-detail{
		--table-bg: hsl(var(--base-h), var(--base-s), 25%);
		--table-border: hsl(var(--base-h), var(--base-s), 35%);
		--table-shadow : hsla(var(--base-h), var(--base-s), 15%, 0.5);
		--td-odd-even: hsl(var(--base-h), var(--base-s), 24%);
		--th-bg: hsl(var(--base-h), var(--base-s), 22%);
		--td-border: hsl(var(--base-h), var(--base-s), 30%);
	}
}

.data-detail {
	--table-bg: hsl(var(--base-h), var(--base-s), 100%);
	--table-border: hsl(var(--base-h), var(--base-s), 80%);
	--table-shadow : hsla(var(--base-h), var(--base-s), 80%, 0.5);
	--td-odd-even: hsl(var(--base-h), var(--base-s), 96%);
	--th-bg: hsl(var(--base-h), var(--base-s), 85%);
	--td-border: hsl(var(--base-h), var(--base-s), 90%);
	

	width: 100%;
	border-radius: 0.3rem;
	overflow: hidden;
	background-color: var(--table-bg);
	border: solid 1px var(--table-border);
	box-shadow: var(--table-shadow) 0px 0px 10px;
	

	& table {
		width: 100%;
		
		& tr:not(:last-child) {
			& th,
			& td {
				border-bottom: solid 1px var(--td-border);
			}
		}

		& tr:nth-child(even) {
			background-color: var(--td-odd-even);
		}

		& th,
		& td {
			font-size: 0.9rem;
			padding: 0.5rem;
		}

		& th {
			text-align: right;
			background-color: var(--th-bg);
		}
	}
}

@media (min-width: 640px) {
	.data-detail {
		& table {
			& th {
				width: 160px;
			}
		}
	}
}
