@import './variable.css';

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
	font-family: var(--body-font);
	background-color: var(--body-bg);
	color: var(--body-text);
}

html,
body,
#root {
	padding: 0;
	margin: 0;
}

button {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: currentColor;
}

/* Window's Scrollbar */

* {
	box-sizing: border-box;
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar) var(--scrollbar-track);
}

*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar);
	border-radius: 20px;
	border: 3px solid var(--scrollbar-track);
}

::placeholder {
	color: hsl(var(--base-h), var(--base-s), calc(var(--base-l) - 20%));
	opacity: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
	transition:
		background-color 0s 600000s,
		color 0s 600000s !important;
}

a {
	text-decoration: none;
}

svg {
	fill: currentColor;
}

[class*='flag-'] {
	--color1: hsla(221, 25%, 22%, 0.05);
	box-shadow:
		rgba(14, 63, 126, 0.06) 0px 0px 0px 1px,
		var(--color1) 0px 1px 1px -0.5px,
		var(--color1) 0px 2px 2px -1px,
		var(--color1) 0px 3px 3px -1.5px,
		var(--color1) 0px 5px 5px -2.5px,
		var(--color1) 0px 10px 10px -5px,
		var(--color1) 0px 24px 24px -8px;
}

.container-center {
	padding: 1rem;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-center > *:first-child {
	width: 100%;
	max-width: 350px;
	background-color: var(--base);
	border: solid 1px var(--base-75);
	border-radius: 5px;
	padding: 2.7rem 1.5rem;
}

@media (min-width: 768px) {
	.container-center > *:first-child {
		padding: 2.7rem 1.5rem;
	}
}

.form {
	width: 100%;
	display: flex;
	gap: 1.5rem;
	flex-direction: column;

	& p {
		text-align: center;
		font-size: 0.9rem;
		margin: 0;
		color: var(--danger);
	}

	& a {
		font-size: 0.95rem;
		font-weight: 500;
		color: var(--base-60);

		&:hover {
			color: var(--base-40);
		}
	}
}

.triangle-down {
	width: 0;
	height: 0;
	border-style: solid;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	border-top: 6px solid #555555;
	border-bottom: 0;
}

.triangle-up {
	width: 0;
	height: 0;
	border-style: solid;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	border-bottom: 6px solid #555555;
	border-top: 0;
}

.no-records {
	display: block;
	text-align: center;
	padding: 1.5rem;
}

.logo {
	font-family: 'Sour Gummy', sans-serif;
	font-optical-sizing: auto;
	font-weight: bold;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
	height: 50px;
	line-height: 50px;
	font-size: 1.6rem;
	padding: 0 1rem;

	& span:first-child {
		color: #ffffff;
	}

	& span:last-child {
		color: var(--accent);
	}
}

nav .logo {
	text-shadow: 1px 1px 1px var(--base-30);

	& span:first-child {
		color: var(--text);
	}

	& span:last-child {
		color: var(--accent);
	}
}
