:global(.dark){
	.sidebar{
		--sidebar-bg: hsl(var(--base-h), var(--base-s), 23%);
		--sidebar-hover: hsl(var(--base-h), var(--base-s), 35%);
		--sidebar-text: hsl(var(--base-h), var(--base-s), 90%);
		--sidebar-border: hsl(var(--base-h), var(--base-s), 40%);
		--sidebar-shadow: 0 14px 28px hsla(0, 0%, 40%, 0.25), 0 10px 10px hsla(0, 0%, 40%, 0.22);
	}
}

.sidebar {
	--sidebar-width: 250px;
	--sidebar-bg: hsl(var(--base-h), var(--base-s), 23%);
	--sidebar-hover: hsl(var(--base-h), var(--base-s), 35%);
	--sidebar-text: hsl(var(--base-h), var(--base-s), 90%);
	--sidebar-border: hsl(var(--base-h), var(--base-s), 40%);
	--sidebar-shadow: 0 14px 28px hsla(0, 0%, 0%, 0.25), 0 10px 10px hsla(0, 0%, 0%, 0.22);
}

.sidebar {
	flex: none;
	width: var(--sidebar-width);
	overflow: auto;
	position: fixed;
	z-index: 600;
	top: 0;
	bottom: 0;
	transform: translateX(-100%);
	transition-property: transform, opacity, visibility;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;

	visibility: hidden;
	opacity: 0;
	display: flex;
	flex-direction: column;
	color: var(--sidebar-text);
	background-color: var(--sidebar-bg);
	box-shadow: var(--sidebar-shadow);
}

.sidebar[data-state=open] {
	visibility: visible;
	opacity: 1;
	transform: translateX(0);
}

.sidebar-top {
	display: flex;
	height: 50px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid 1px var(--sidebar-border);
}

.sidebar-overlay {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 100%;
	background-color: hsla(var(--base-h), var(--base-s), 95%, 0.2);
	backdrop-filter: blur(5px);
	z-index: 100;
}

.sidebar-overlay[data-state=open] {
	display: block;
}

.sidebar-menu {
	width: 100%;
	padding: 0.5rem;

	& a,
	& button {
		box-sizing: border-box;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-transform: uppercase;
		padding: 0.7rem 1rem;
		font-size: 0.9rem;
		font-weight: normal;
		cursor: pointer;
		color: var(--sidebar-text);
		border-radius: 0.2rem;

		&:hover {
			background-color: var(--sidebar-hover);
		}
	}

	& button {
		margin: 0.2rem 0;
		&[data-state='open'] {
			background-color: var(--sidebar-hover);
		}
	}
}

.collapsible-menu {
	width: 100%;
}

.collapsible-content {
	& a {
		border-bottom: none;
		padding-left: 2rem;
	}
}

@media (min-width: 768px) {
	.sidebar {
		transform: translateX(0);
		position: static;
		visibility: visible;
		opacity: 1;
	}

	.sidebar-top {
		justify-content: center;

		button {
			display: none;
		}
	}

	.sidebar-overlay[data-state=open] {
		display: none;
	}
}
