.form-group {
	--pad: 0.75rem;
	position: relative;
}

.form-group label {
	position: absolute;
	left: 4px;
	top: 0;
	transition: transform 200ms;
	text-transform: uppercase;
	font-size: 0.9rem;
	pointer-events: none;
	color: var(--base-60);
}

.form-group input::placeholder {
	opacity: 0;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
	transform: translate(-12px, -80%) scale(0.8);
	color: var(--primary);
}

.form-group input {
	background-color: transparent;
	width: 100%;
	font-size: 0.9rem;
	line-height: 1;
	padding: 4px 4px 4px 12px;
	border-bottom: solid 1px var(--base-75);

	&:not([readonly]):focus {
		outline: none;
		box-shadow: none;
		border-bottom: solid 1px var(--primary);
	}
}

.form-group input:read-only {
	background-color: var(--base-90);
	color: var(--base-50);
	cursor: not-allowed;
}

.form-group p {
	color: var(--danger);
	font-size: 0.8rem;
	text-align: left;
	margin: 0;
}

.form-group + .btn {
	display: block;
	font-size: 1.15rem;
}
