:global(.dark){
	.btn-secondary{
		--btn-border: hsl(var(--base-h), var(--base-s), 50%);
		--btn-shadow: hsl(var(--base-h), var(--base-s), 25%);
		--btn-bg: hsl(var(--base-h), var(--base-s), 40%);
		--btn-color: hsl(var(--base-h), var(--base-s), 80%);
		--btn-hover-bg: hsl(var(--base-h), var(--base-s), 35%);
		--btn-hover-color: hsl(var(--base-h), var(--base-s), 90%);	
	}

	.btn-primary {
		--btn-border: hsl(var(--primary-h), var(--primary-s), 70%);
		--btn-shadow: hsl(var(--primary-h), var(--primary-s), 25%);
	}

	.btn-danger {
		--btn-border: hsl(var(--danger-h), var(--danger-s), 70%);
		--btn-shadow: hsl(var(--danger-h), var(--danger-s), 25%);
	}
}

.btn {
	--btn-border: hsl(var(--base-h), var(--base-s), 80%);
	--btn-shadow: hsl(var(--base-h), var(--base-s), 80%);
	--btn-bg: hsl(var(--base-h), var(--base-s), 100%);
	--btn-color: hsl(var(--base-h), var(--base-s), 50%);
	--btn-hover-bg: hsl(var(--base-h), var(--base-s), 96%);
	--btn-hover-color: hsl(var(--base-h), var(--base-s), 40%);	

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	min-height: 40px;
	font-size: 0.9rem;
	border-radius: 0.2rem;
	letter-spacing: 1px;
	color: var(--btn-color);
	border: solid 1px var(--btn-border);
	background-color: var(--btn-bg);
	box-shadow: var(--btn-shadow) 0 5px 10px -5px;

	& svg[role=loader] {
		height: 100%;
		width: auto;
	}
}

.btn:hover {
	background-color: var(--btn-hover-bg);
	color: var(--btn-hover-color);
}

.btn-secondary {
	--btn-border: hsl(var(--base-h), var(--base-s), 80%);
	--btn-shadow: hsl(var(--base-h), var(--base-s), 80%);
	--btn-bg: hsl(var(--base-h), var(--base-s), 100%);
	--btn-color: hsl(var(--base-h), var(--base-s), 50%);
	--btn-hover-bg: hsl(var(--base-h), var(--base-s), 96%);
	--btn-hover-color: hsl(var(--base-h), var(--base-s), 40%);	
}

.btn-primary {
	--btn-border: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - 5%));
	--btn-shadow: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - 10%));
	--btn-bg: var(--primary);
	--btn-color: hsl(var(--primary-h), var(--primary-s), 90%);
	--btn-hover-bg: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - 4%));
	--btn-hover-color: var(--inverse-text);
}


.btn-danger {
	--btn-border: hsl(var(--danger-h), var(--danger-s), calc(var(--danger-l) - 5%));
	--btn-shadow: hsl(var(--danger-h), var(--danger-s), calc(var(--danger-l) - 10%));
	--btn-bg: var(--danger);
	--btn-color: hsl(var(--danger-h), var(--danger-s), 90%);
	--btn-hover-bg: hsl(var(--danger-h), var(--danger-s), calc(var(--danger-l) - 4%));
	--btn-hover-color: var(--inverse-text);
}

.btn-danger:hover {
	color: var(--inverse-text);
	background-color: hsl(var(--danger-h), var(--danger-s), calc(var(--danger-l) - 10%));
}

.btn svg {
	width: 20px;
	height: 20px;
}

.btn-big {
	height: 50px;
	font-size: 1rem;
	font-weight: bold;
}

.btn-small {
	font-size: 0.9rem;

	& svg {
		width: 18px;
		height: auto;
	}
}
