:global(.dark){
	.search-form{
		--search-bg: hsl(var(--base-h), var(--base-s), 28%);
		--search-border: hsl(var(--base-h), var(--base-s), 40%);
		--button-bg: hsl(var(--base-h), var(--base-s), 26%);
		--button-color: hsl(var(--base-h), var(--base-s), 38%);
	}
}

.search-form {
	--search-bg: hsl(var(--base-h), var(--base-s), 100%);
	--search-border: hsl(var(--base-h), var(--base-s), 80%);
	--button-bg: hsl(var(--base-h), var(--base-s), 90%);
	--button-color: hsl(var(--base-h), var(--base-s), 60%);

	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	border-radius: 0.3rem;
	overflow: hidden;
	border: solid 1px var(--search-border);
	background-color: var(--search-bg);

	&:focus-within {
		border: solid 1px var(--primary);
		box-shadow: 0 0 0 0.25rem hsla(var(--primary-h), var(--primary-s), var(--primary-l), 0.25);
	}

	& input,
	& button {
		height: 40px;

		&:focus {
			outline-style: none;
			box-shadow: none;
		}
	}

	& input {
		width: 100%;
		display: inline-block;
		background-color: transparent;
		padding: 0 1rem;
	}

	& button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		background-color: var(--button-bg);
		color: var(--button-color);

		&:nth-of-type(1) svg{
			height: 1.4rem;
			width: auto;
		}

		&:nth-of-type(2) svg{
			height: 1.4rem;
			width: auto;
		}

		&:hover {
			color: var(--primary);
		}
	}
}

@media (min-width: 480px) {
	.search-form {
		width: 420px;
	}

	.search-form input {
		flex-grow: 1;
	}
}
