.toggle-menu {
	width: 50px;
	height: 50px;
	border: none;
	cursor: pointer;
	display: flex;
	gap: 8px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: transparent;

	&:hover span {
		background-color: var(--text);
	}

	& span {
		width: 30px;
		height: 0.1rem;
		display: block;
		border-radius: 10px;
		transition: transform 0.5s ease-in-out;
		background-color: var(--base-40);
	}
}

.toggle-menu[data-show='true'] span:nth-child(1) {
	transform: translateY(9px) rotate(45deg);
}

.toggle-menu[data-show='true'] span:nth-child(2) {
	opacity: 0;
}

.toggle-menu[data-show='true'] span:nth-child(3) {
	transform: translateY(-10px) rotate(-45deg);
}

@media (min-width: 768px) {

	.toggle-menu {
		display: none;
	}
	
}