:global(.dark){
	.pagination{
		--pagination-color: hsl(var(--base-h), var(--base-s), 65%);
		--pagination-disabled-color: hsl(var(--base-h), var(--base-s), 45%);
		--pagination-hover-bg: hsl(var(--base-h), var(--base-s), 25%);
	}
}

.pagination {
	--pagination-color: hsl(var(--base-h), var(--base-s), 40%);
	--pagination-disabled-color: hsl(var(--base-h), var(--base-s), 60%);
	--pagination-hover-bg: hsl(var(--base-h), var(--base-s), 90%);

	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem 0;

	& ul {
		margin: 0 1rem;
		display: flex;
		gap: 0.3rem;
	}

	& button {
		padding: 0.2rem 0.5rem;
		padding: 0;
		cursor: pointer;
		display: inline-block;
		width: 35px;
		height: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		color: var(--pagination-color);

		&:not(:has(svg)) {

			&:not(.active):hover {
				background-color: var(--pagination-hover-bg);
			}
		}

		&:hover {
			color: var(--body-text);
		}

		&:disabled {
			cursor: not-allowed;
			color: var(--pagination-disabled-color);
		}

		&.active {
			cursor: not-allowed;
			background-color: var(--primary);
			color: var(--inverse-text);
		}
	}
}
