:global(.dark) {
	.tooltip-content {
		--tooltip-bg: hsl(var(--base-h), var(--base-s), 28%);
		--tooltip-border: hsl(var(--base-h), var(--base-s), 40%);
		--tooltip-shadow: hsla(var(--base-h), var(--base-s), 10%, 0.5);
	}
}

.tooltip-content {
	--tooltip-bg: hsl(var(--base-h), var(--base-s), 95%);
	--tooltip-border: hsl(var(--base-h), var(--base-s), 80%);
	--tooltip-shadow: hsla(var(--base-h), var(--base-s), 80%, 0.5);

	border-radius: 4px;
	padding: 10px 15px;
	font-size: 15px;
	line-height: 1;
	user-select: none;
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;
	background-color: var(--tooltip-bg);
	border: solid 1px var(--tooltip-border);
	box-shadow: var(--tooltip-shadow) 0px 0px 10px;
}

.tooltip-content[data-state='delayed-open'][data-side='top'] {
	animation-name: slideDownAndFade;
}

.tooltip-arrow {
	fill: var(--tooltip-border);
}
