.ToastViewport {
	--viewport-padding: 25px;
	position: fixed;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	padding: var(--viewport-padding);
	gap: 10px;
	width: 390px;
	max-width: 100vw;
	margin: 0;
	list-style: none;
	z-index: 2147483647;
	outline: none;
}

.dark .ToastRoot{
	background-color: blue;
}

.ToastRoot {
	--toast-bg: hsl(var(--success-h), var(--success-s), var(--success-l));
	background-color: var(--toast-bg);
	color: var(--inverse-text);
	border-radius: 6px;
	padding: 15px;
	display: grid;
	grid-template-areas: 'title action' 'description action';
	grid-template-columns: auto max-content;
	column-gap: 15px;
	align-items: start;

	&[data-type=error] {
		color: var(--danger);
	}

	& button {
		--color: hsl(var(--inverse-text-h), var(--inverse-text-s), 80%);
		font-size: 1.8rem;
		color: var(--color);
		line-height: 1;
		font-weight: lighter;

		&:hover {
			color: var(--inverse-text);
		}

		& svg {
			width: 12px;
			height: 12px;
		}
	}
}
.ToastRoot[data-state='open'] {
	animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.ToastRoot[data-state='closed'] {
	animation: hide 100ms ease-in;
}
.ToastRoot[data-swipe='move'] {
	transform: translateX(var(--radix-toast-swipe-move-x));
}
.ToastRoot[data-swipe='cancel'] {
	transform: translateX(0);
	transition: transform 200ms ease-out;
}
.ToastRoot[data-swipe='end'] {
	animation: swipeOut 100ms ease-out;
}

@keyframes hide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes slideIn {
	from {
		transform: translateY(calc(-100% + var(--viewport-padding)));
	}
	to {
		transform: translateY(0);
	}
}

@keyframes swipeOut {
	from {
		transform: translateY(var(--radix-toast-swipe-end-x));
	}
	to {
		transform: translateY(calc(-100% + var(--viewport-padding)));
	}
}
