:global(.dark) {
	.skeleton-line,
	.skeleton-square {
		--skeleton1: hsl(var(--base-h), var(--base-s), 35%);
		--skeleton2: hsl(var(--base-h), var(--base-s), 28%);
	}
}

.skeleton-line,
.skeleton-square {
	--skeleton1: hsl(var(--base-h), var(--base-s), 90%);
	--skeleton2: hsl(var(--base-h), var(--base-s), 60%);
}

.skeleton-square {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	background: var(--skeleton1);
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(8%, var(--skeleton1)),
		color-stop(18%, var(--skeleton2)),
		color-stop(33%, var(--skeleton1))
	);
	background: linear-gradient(
		to right,
		var(--skeleton1) 8%,
		var(--skeleton2) 18%,
		var(--skeleton1) 33%
	);
	background-size: 800px 100px;
	animation: wave-squares 2s infinite ease-out;
}

.skeleton-line {
	height: 12px;
	border-radius: 2px;
	background: var(--skeleton1);
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(8%, var(--skeleton1)),
		color-stop(18%, var(--skeleton2)),
		color-stop(33%, var(--skeleton1))
	);
	background: linear-gradient(
		to right,
		var(--skeleton1) 8%,
		var(--skeleton2) 18%,
		var(--skeleton1) 33%
	);
	background-size: 800px 100px;
	animation: wave-lines 2s infinite ease-out;
}

@keyframes wave-lines {
	0% {
		background-position: -468px 0;
	}

	100% {
		background-position: 468px 0;
	}
}

@keyframes wave-squares {
	0% {
		background-position: -468px 0;
	}

	100% {
		background-position: 468px 0;
	}
}
